<fieldset>
  <div id="step_{{ step_tab }}">
    <input type="hidden" id="step_id" name="step_id" value="{{step_id}}">
    <input type="hidden" id="step_tag" name="step_tag" value="{{step_tag}}">
    <input type="hidden" id="form_id" name="form_id" value="{{form_id}}" >
    <input type="hidden" id="entryform_id" name="entryform_id" value="{{entryform_id}}" >
    {% comment %} <h4 class="form-section">
      <i class="ft-user"></i> {{request.lang.analysis}}
    </h4> {% endcomment %}
    <ul class="nav nav-tabs nav-underline mt-2" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id="analysis-tab1" data-toggle="tab" href="#analysis_group1" aria-controls="analysis_group1" role="tab" aria-selected="true"><h3 style="color:black;"><i class="fa fa-check"></i> ANÁLISIS ACTIVOS</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="analysis-tab2" data-toggle="tab" href="#analysis_group2" aria-controls="analysis_group2" role="tab" aria-selected="false"><h3 style="color:black;"><i class="fa fa-close"></i> ANÁLISIS ANULADOS</h3></a>
      </li>
    </ul>
    <div class="tab-content px-1 pt-1">
      <div class="tab-pane" id="analysis_group1" aria-labelledby="analysis-tab1" role="tabpanel">
      </div>
      <div class="tab-pane" id="analysis_group2" aria-labelledby="analysis-tab2" role="tabpanel">
      </div>
    </div>
    {% comment %} <div id="analysis_group" class="list-group">
    </div> {% endcomment %}
  </div>
</fieldset>

<div class="modal" tabindex="-1" id="checkQAPreReport">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Revisión de Calidad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <input type="hidden" id="modalAnalysisId" />
          <div class="form-group">
            <label for="">Fecha de termino:</label>
            <input type='text' class='form-control input-end-pre-report-date-bootbox' />
          </div>

          <div class="form-check my-1">
              <input class="form-check-input checkQA" type="checkbox"/>
              <label class="form-check-label" for="">
                ¿Revisó que la información de cabecera del informe este correcta?
                (N° caso, empresa, centro, especie, estadío de desarrollo, fuente de agua)
              </label>
          </div>

          <div class="form-check my-1">
              <input class="form-check-input checkQA" type="checkbox"/>
              <label class="form-check-label" for="">
                ¿Revisó que la información de detalle del caso este correcta?
                (N° de muestras por identificación, estanque, grupo, análisis requeridos por servicios, hoja de lectura)
              </label>
          </div>

          <div class="form-check my-1">
              <input class="form-check-input checkQA" type="checkbox"/>
              <label class="form-check-label" for="">
                  ¿Revisó que los hallazgos y diagnósticos sean consistentes, en tablas y comentarios?
                  (que los hallazgos se hayan asociado a las muestras correctas,
                  los porcentajes de prevalencia estén correctos,
                  que los comentarios estén en línea con tablas y gráficos)
              </label>
          </div>

          <div class="form-check my-1">
              <input class="form-check-input checkQA" type="checkbox"/>
              <label class="form-check-label" for="">
                  ¿Revisó que las imágenes incorporadas estén correctas?
                  (que las imágenes contengan los números de muestra correctos,
                  la calidad de la imagen sea buena, que tenga las flechas,
                  anotaciones y leyendas)
              </label>
          </div>

          <div class="form-check my-1">
              <input class="form-check-input checkQA" type="checkbox"/>
              <label class="form-check-label" for="">
                  ¿Revisó que el formato del informe se haya guardado correctamente?
                  (Revisó el PDF guardado, que los espaciados, colores, tamaños de letras estén correctos)
              </label>
          </div>

          <div class="form-check my-1">
              <input class="form-check-input checkQA" type="checkbox"/>
              <label class="form-check-label" for="">
                  ¿Revisó Ortografía?
              </label>
          </div>

          <div class="form-group">
              <label for="">¿Desea agregar un comentario? (Visible en el correo enviado al gerente)</label>
              <textarea id="preReportComment" class="form-control" rows="10" cols="30"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" id="btnDoneQA" class="btn btn-primary">Confirmar y enviar</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" tabindex="-1" id="groupersModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agrupadores</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group" id="groupList">

        </ul>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <label for="">Nombre grupo:</label>
          <input type="text" id="newGroupName" class="form-control"/>
        </div>
        <input type="hidden" value="" id="newGroupAnalysis" />
        <button type="button" class="btn btn-success" onclick="createGrouper()">Crear nuevo agrupador</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="serviceDeadlineModal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Tiempos de respuesta</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body container-fluid">
            <input type="hidden" id="serviceDeadline_id"/>
            <input type="hidden" id="serviceDeadline_exist"/>
            <div id="serviceDeadline_form">
              <main class="row mb-2 form-group">
                    <div class="col-md-4 form-group">
                        <h4>Laboratorio</h4>
                        <input type="text" class="form-control assignment-deadline" id="laboratoryDeadline" name="laboratoryDeadline"/>
                        <input type="hidden" name="laboratoryDeadline" value="1"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <h4>Patologo</h4>
                        <input type="text" class="form-control assignment-deadline" id="pathologistDeadline" name="pathologistDeadline"/>
                        <input type="hidden" name="pathologistDeadline" value="2"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <h4>Revision</h4>
                        <input type="text" class="form-control assignment-deadline" id="reviewDeadline" name="reviewDeadline"/>
                        <input type="hidden" name="reviewDeadline" value="3"/>
                    </div>
                    <div class="col-md-11 form-group" style="margin-left:50px">
                      <p>Comentario:</p> 
                      <textarea row='1' required class='form-control input-deadline-comment-bootbox' id="comment" name="comment"></textarea>
                    </div>
              </main>
              <div class="row">
                  <div class="col-md-6 form-group">
                      <button id="saveDeadline" type="button" class="btn btn-success btn-lg btn-block" onclick="saveServiceDeadlineModal()">Guardar</button>
                  </div>
                  <div class="col-md-6">
                      <button id="cancelDeadline" type="button" class="btn btn-danger btn-lg btn-block" data-dismiss="modal">Cancelar</button>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script id="analysis_element5" type="text/x-lodash-template">

{% if closed %}
  <% if ( _.includes([1,2], service))  { %> 
    <div href="/workflow/<%= form_id %>" class="list-group-item <% if (samples_count > 0) { %> <% if (samples_count > 0) { %> bg-teal <% } else {%> bg-danger <% } %> <% } else {%> bg-danger <% } %> bg-lighten-4 mb-2">
      <div class="media-body">
        <div class="row">
          <div class="col-sm-6 font-medium-4 text-left"><%= exam_name %></div>
          <div class="col-sm-6 font-medium-4 text-right">{{request.lang.stain}}: <%= exam_stain %></div>
          <div class="col-sm-12 font-medium-4 text-center mt-1">
            <div class="btn-group" role="group" aria-label="Opciones">
              <button type="button" class="btn btn-info" onclick='showServiceCommentsModal(<%= id %>, {{closed}}, true)'>{{request.lang.comments}}</button>
              <button type="button" class="btn btn-purple" onclick='showServiceResearchesModal(<%= id %>, {{closed}}, true)'>{{request.lang.studies}}</button>
              <button type="button" class="btn btn-success" onclick='showServiceReportsModal(<%= id %>, <%= service %>, {{closed}}, true)'>{{request.lang.reports}}</button>
              <button type="button" class="btn btn-primary" onclick='goToPortal(<%= id %>, "<%= exam_name %>", "<%= report_code %>")'>Ir al portal</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 mt-1">
            <p class="list-group-item-text">Servicio <%= service_name %> - <b><%= status %></b></p>
          </div>
          <% if (patologo_name != "") { %>
            <div class="col-sm-4 text-right">
              <p class="list-group-item-text">Patólogo: <b><%= patologo_name %></b></p>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  <% } else { %>
    <div href="/workflow/<%= form_id %>" class="list-group-item <% if (samples_count > 0) { %> bg-teal <% } else {%> bg-danger <% } %> bg-lighten-4 mb-2">
      <div class="media-body">
        <div class="row">
          <div class="col-sm-6 font-medium-4 text-left"><%= exam_name %></div>
          <div class="col-sm-6 font-medium-4 text-right"></div>
          <div class="col-sm-12 font-medium-4 text-center mt-1">
            <div class="btn-group" role="group" aria-label="Opciones">
              <button type="button" class="btn btn-info" onclick='showServiceCommentsModal(<%= id %>, {{closed}}, true)'>{{request.lang.comments}}</button>
              <button type="button" class="btn btn-purple" onclick='showServiceResearchesModal(<%= id %>, {{closed}}, true)'>{{request.lang.studies}}</button>
              <button type="button" class="btn btn-success" onclick='showServiceReportsModal(<%= id %>, <%= service %>, {{closed}}, true)'>{{request.lang.reports}}</button>
              <button type="button" class="btn btn-primary" onclick='goToPortal(<%= id %>, "<%= exam_name %>", "<%= report_code %>")'>Ir al portal</button>
            </div>
          </div>     
        </div>
        <div class="row">
          <div class="col-sm-8 mt-1">
            <p class="list-group-item-text">Servicio <%= service_name %> - <b><%= status %></b></p>
          </div>
          <% if (patologo_name != "") { %>
            <div class="col-sm-4 text-right">
              <p class="list-group-item-text">Patólogo: <b><%= patologo_name %></b></p>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  <% } %>
{% else %}
  <% if (!form_closed && !cancelled)  { %> 
    <% if ( _.includes([1,2], service)) { %>
      <div class="list-group-item <% if (samples_count > 0) { %> bg-teal <% } else {%> bg-danger <% } %> bg-lighten-4 mb-2">
        <div class="media-body">
          <div class="row">
            <div class="col-sm-6 font-medium-4 text-left"><%= exam_name %></div>
            <div class="col-sm-6 font-medium-4 text-right">{{request.lang.stain}}: <%= exam_stain %></div>
            <div class="col-sm-12 font-medium-4 text-center mt-1">
              <div class="btn-group" role="group" aria-label="Opciones">
                
                {% comment %} <% if (form_reopened)  { %> 
                  <a class="btn btn-secondary" href="/workflow/<%= form_id %>"><i class="fa fa-arrow-right"></i> Ir al análisis </a>
                <% } else { %>
                  <a class="btn btn-secondary" href="/workflow/<%= form_id %>"><i class="fa fa-arrow-right"></i> Ir al análisis </a>
                <% } %> {% endcomment %}

                <button type="button" class="btn btn-info" onclick='showServiceCommentsModal(<%= id %>, {{closed}})'>{{request.lang.comments}}</button>
                <button type="button" class="btn btn-purple" onclick='showServiceResearchesModal(<%= id %>, {{closed}})'>{{request.lang.studies}}</button>
                <button type="button" class="btn btn-success" onclick='showServiceReportsModal(<%= id %>, <%= service %>, {{closed}})'>{{request.lang.reports}}</button>
                <button type="button" class="btn btn-primary" onclick='goToPortal(<%= id %>, "<%= exam_name %>", "<%= report_code %>")'>Ir al portal</button>
                {% if edit %}
                
                  <% if (!exam_pathologists_assignment ) { %>
                    <button type="button" class="btn btn-warning" onclick='closeService(<%= form_id %>, <%= id %>, true);'>{{request.lang.close_service}}</button>
                  <% } else if (exam_pathologists_assignment && !pre_report_started || !pre_report_ended) { %>
                    <button type="button" class="btn btn-warning" onclick='closeService(<%= form_id %>, <%= id %>, false);'>{{request.lang.close_service}}</button>
                  <% } else { %>
                    <button type="button" class="btn btn-warning" onclick='closeService(<%= form_id %>, <%= id %>, true);'>{{request.lang.close_service}}</button>
                  <% } %>

                  <button type="button" class="btn btn-danger" onclick='cancelService(<%= form_id %>);'>{{request.lang.cancel_service}}</button>

                {% endif %}

                <button type="button" class="btn btn-info" onclick='onClickGrouper(<%= id %>)'>Agrupadores</button>
                <button type="button" class="btn btn-purple" onclick='showServiceDeadlineModal(<%= id %>)'>{{request.lang.services_deadline}}</button>

                <% if (exam_pathologists_assignment && patologo_id != "" && patologo_id != null) { %>
                  <% if (patologo_id == {{request.user.pk}} || {{edit}}) { %>

                    <% if (!pre_report_started)  { %>
                      <button type="button" class="btn btn-blue" onclick='initPreReport(<%= id %>);'>Iniciar Lectura</button>
                    <% } else if (pre_report_started && !pre_report_ended) { %>
                      <button type="button" class="btn btn-blue" onclick='endPreReport(<%= id %>);'>Terminar Pre-Informe</button>
                    <% } %>
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                          Estado
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <% if (!on_hold)  { %>
                          <a class="dropdown-item" href="#" onclick='startPause(<%= id %>, true);'>En Espera</a>
                        <% } else { %>
                          <a class="dropdown-item" href="#" onclick='stopPause(<%= id %>, true);'>Finalizar Espera</a>
                        <% }%>
                        <% if (!on_standby)  { %>
                          <a class="dropdown-item" href="#" onclick='startPause(<%= id %>, false);'>Pausado</a>
                        <% } else { %>
                          <a class="dropdown-item" href="#" onclick='stopPause(<%= id %>, false);'>Reanudar</a>
                        <% }%>
                        </div>
                      </div>
                  <% } %>
                <% } %>
              </div>
            </div>
            <p class="list-group-item-text"></p>
            <div class='col-sm-8 offset-md-2 mt-1'>
              <div class="progress" style="height: 22px;"> 
                <div class="progress-bar progress-bar-striped bg-blue-grey" role="progressbar" style="width:<%= percentage_step %>%" aria-describedby="example-caption-2"> <b><%= current_step %> de <%= total_step  %> pasos</b></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 mt-1">
              <p class="list-group-item-text">Servicio <%= service_name %> - <b><%= status %></b></p>
            </div>
            <% if (patologo_name != "") { %>
              <div class="col-sm-4 text-right">
                <p class="list-group-item-text">Patólogo: <b><%= patologo_name %></b></p>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    <% } else { %>
      <div class="list-group-item <% if (samples_count > 0) { %> bg-teal <% } else {%> bg-danger <% } %> bg-lighten-4 mb-2">
        <div class="media-body">
          <div class="row">
            <div class="col-sm-12 font-medium-4 text-left"><%= exam_name %></div>
            <div class="col-sm-12 font-medium-4 text-center mt-1">
              <div class="btn-group" role="group" aria-label="Opciones">
                <button type="button" class="btn btn-info" onclick='showServiceCommentsModal(<%= id %>, {{closed}})'>{{request.lang.comments}}</button>
                <button type="button" class="btn btn-purple" onclick='showServiceResearchesModal(<%= id %>, {{closed}})'>{{request.lang.studies}}</button>
                <button type="button" class="btn btn-success" onclick='showServiceReportsModal(<%= id %>, <%= service %>, {{closed}})'>{{request.lang.reports}}</button>
                <button type="button" class="btn btn-primary" onclick='goToPortal(<%= id %>, "<%= exam_name %>", "<%= report_code %>")'>Ir al portal</button>
                {% if edit %}
                
                  <% if (!exam_pathologists_assignment ) { %>
                    <button type="button" class="btn btn-warning" onclick='closeService(<%= form_id %>, <%= id %>, true);'>{{request.lang.close_service}}</button>
                  <% } else if (exam_pathologists_assignment && !pre_report_started || !pre_report_ended) { %>
                    <button type="button" class="btn btn-warning" onclick='closeService(<%= form_id %>, <%= id %>, false);'>{{request.lang.close_service}}</button>
                  <% } else { %>
                    <button type="button" class="btn btn-warning" onclick='closeService(<%= form_id %>, <%= id %>, true);'>{{request.lang.close_service}}</button>
                  <% } %>

                  <button type="button" class="btn btn-danger" onclick='cancelService(<%= form_id %>);'>{{request.lang.cancel_service}}</button>

                {% endif %}

                <button type="button" class="btn btn-info" onclick='onClickGrouper(<%= id %>)'>Agrupadores</button>
                <button type="button" class="btn btn-purple" onclick='showServiceDeadlineModal(<%= id %>)'>{{request.lang.services_deadline}}</button>

                <% if (exam_pathologists_assignment && patologo_id != "" && patologo_id != null) { %>
                  <% if (patologo_id == {{request.user.pk}} || {{edit}}) { %>
                    <% if (!pre_report_started)  { %>
                      <button type="button" class="btn btn-blue" onclick='initPreReport(<%= id %>);'>Iniciar Lectura</button>
                    <% } else if (pre_report_started && !pre_report_ended) { %>
                      <button type="button" class="btn btn-blue" onclick='endPreReport(<%= id %>);'>Terminar Pre-Informe</button>
                    <% } %>
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                          Estado
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <% if (!on_hold)  { %>
                          <a class="dropdown-item" href="#" onclick='startPause(<%= id %>, true);'>En Espera</a>
                        <% } else { %>
                          <a class="dropdown-item" href="#" onclick='stopPause(<%= id %>, true);'>Finalizar Espera</a>
                        <% }%>
                        <% if (!on_standby)  { %>
                          <a class="dropdown-item" href="#" onclick='startPause(<%= id %>, false);'>Pausado</a>
                        <% } else { %>
                          <a class="dropdown-item" href="#" onclick='stopPause(<%= id %>, false);'>Reanudar</a>
                        <% }%>
                        </div>
                      </div>
                  <% } %>
                <% } %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 mt-1">
              <p class="list-group-item-text">Servicio <%= service_name %> - <b><%= status %></b></p>
            </div>
            <% if (patologo_name != "") { %>
              <div class="col-sm-4 text-right">
                <p class="list-group-item-text">Patólogo: <b><%= patologo_name %></b></p>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    <% } %>
  <% } else { %>
    <% if ( _.includes([1,2], service))  { %> 
      <div href="/workflow/<%= form_id %>" class="list-group-item <% if (samples_count > 0) { %> bg-teal <% } else {%> bg-danger <% } %> bg-lighten-4 mb-2">
        <div class="media-body">
          <div class="row">
            <div class="col-sm-6 font-medium-4 text-left"><%= exam_name %></div>
            <div class="col-sm-6 font-medium-4 text-right">{{request.lang.stain}}: <%= exam_stain %></div>
            <div class="col-sm-12 font-medium-4 text-center mt-1">
              <div class="btn-group" role="group" aria-label="Opciones">
                <button type="button" class="btn btn-info" onclick='showServiceCommentsModal(<%= id %>, {{closed}}, true)'>{{request.lang.comments}}</button>
                <button type="button" class="btn btn-purple" onclick='showServiceResearchesModal(<%= id %>, {{closed}}, true)'>{{request.lang.studies}}</button>
                <button type="button" class="btn btn-success" onclick='showServiceReportsModal(<%= id %>, <%= service %>, {{closed}}, true)'>{{request.lang.reports}}</button>
                <button type="button" class="btn btn-primary" onclick='goToPortal(<%= id %>, "<%= exam_name %>", "<%= report_code %>")'>Ir al portal</button>
                <button type="button" class="btn btn-info" onclick='onClickGrouper(<%= id %>)'>Agrupadores</button>
                {% if edit %}
                
                <button type="button" class="btn btn-warning" onclick='reopenSerivce(<%= form_id %>)'>{{request.lang.reopen_service}}</button>
                
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 mt-1">
              <p class="list-group-item-text">Servicio <%= service_name %> - <b><%= status %></b> <% if (cancelled_by) {%> por <b> <%= cancelled_by %> <% } %></b> el <b><%= cancelled_at %> </b></p>
            </div>
            <% if (patologo_name != "") { %>
              <div class="col-sm-4 text-right">
                <p class="list-group-item-text">Patólogo: <b><%= patologo_name %></b></p>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    <% } else { %>
      <div href="/workflow/<%= form_id %>" class="list-group-item <% if (samples_count > 0) { %> bg-teal <% } else {%> bg-danger <% } %> bg-lighten-4 mb-2">
        <div class="media-body">
          <div class="row">
            <div class="col-sm-6 font-medium-4 text-left"><%= exam_name %></div>
            <div class="col-sm-6 font-medium-4 text-right"></div>
            <div class="col-sm-12 font-medium-4 text-center mt-1">
              <div class="btn-group" role="group" aria-label="Opciones">
                <button type="button" class="btn btn-info" onclick='showServiceCommentsModal(<%= id %>, {{closed}}, true)'>{{request.lang.comments}}</button>
                <button type="button" class="btn btn-purple" onclick='showServiceResearchesModal(<%= id %>, {{closed}}, true)'>{{request.lang.studies}}</button>
                <button type="button" class="btn btn-success" onclick='showServiceReportsModal(<%= id %>, <%= service %>, {{closed}}, true)'>{{request.lang.reports}}</button>
                <button type="button" class="btn btn-primary" onclick='goToPortal(<%= id %>, "<%= exam_name %>", "<%= report_code %>" )'>Ir al portal</button>
                <button type="button" class="btn btn-info" onclick='onClickGrouper(<%= id %>)'>Agrupadores</button>
                {% if edit %}
                  <button type="button" class="btn btn-warning" onclick='reopenSerivce(<%= form_id %>)'>{{request.lang.reopen_service}}</button>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 mt-1">
              <p class="list-group-item-text">Servicio <%= service_name %> - <b><%= status %></b> <% if (cancelled_by) {%> por <b> <%= cancelled_by %> <% } %></b> el <b><%= cancelled_at %> </b></p>
            </div>
            <% if (patologo_name != "") { %>
              <div class="col-sm-4 text-right">
                <p class="list-group-item-text">Patólogo: <b><%= patologo_name %></b></p>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    <% } %>
  <% } %>
{% endif %}


</script>

<script id="add_old_analisis5" type="text/x-lodash-template">
  <tr id="analisis_new5-<%= sampleId %>-<%= sampleIndex %>" class="old_row analis_new_row analis_new_row-<%= sampleId %>" data-sampleid="<%= sampleIndex %>" data-sampleindex="<%= sampleId %>">
    <td class="samples_new_exams_list" data-index="<%= sampleId %>">
      <input class="form-control" style="width:100% !important;" readonly value="<%= analisis %>"/>
    </td>
    <td>
      <select id="select5-<%= optionId %>" class="select2 form-control organs_new_select organs_new_select5-<%= sampleIndex %>" style="width:100% !important;" multiple="multiple" disabled>
        <% _.each(organs, function (organ) { %>
          <option value=<%= organ.id %>> <%= _.toUpper(organ.name) %> </option>
        <% }); %>
      </select>
    </td>
    <td>
      <a href="javascript:void(0);" class="btn btn-warning" disabled><i class="fa fa-trash "></i></a>
    </td>
  </tr>
</script>

<script id="add_new_analisis5" type="text/x-lodash-template">
  <tr id="analisis_new5-<%= sampleId %>-<%= sampleIndex %>" class="analis_new_row analis_new_row-<%= sampleId %>" data-sampleid="<%= sampleIndex %>" data-sampleindex="<%= sampleId %>">
    <td class="samples_new_exams_list" data-index="<%= sampleId %>">
      <input class="form-control" style="width:100% !important;" readonly value="<%= analisis %>"/>
      <input class="form-control" style="width:100% !important;" name="sample[exams][<%= sampleId %>][<%= sampleIndex %>]" hidden value="<%= sampleIndex %>"/>
    </td>
    <td>
      <select id="select5-<%= optionId %>" class="select2 form-control organs_new_select organs_new_select5-<%= sampleIndex %>" style="width:100% !important;" name="sample[organs][<%= sampleId %>][<%= sampleIndex %>]" multiple="multiple">
        <% _.each(organs, function (organ) { %>
          <option value=<%= organ.id %>> <%= _.toUpper(organ.name) %> </option>
        <% }); %>
      </select>
    </td>
    <td>
      <a href="javascript:void(0);" class="btn btn-warning" onclick="deleteNewAnalisis5(<%= sampleId %>, <%= sampleIndex %>);"><i class="fa fa-trash "></i></a>
    </td>
  </tr>
</script>

<script id="patologo_row_5" type="text/x-lodash-template">
  <tr id="exam_5-<%= exam.id %>">
    <td>
      <%= exam.text %>
    </td>
    <td>
      <select id="patologos-select_5-<%= exam.id %>" class="select2 form-control patologos-select_5" style="width:100% !important;" name="sample[patologos][<%= exam.id %>]" {% if not edit %}disabled{% endif %}>
        <% _.each(patologos, function (patologo) { %>
          <option value=<%= patologo.id %>> <%= _.toUpper(patologo.first_name +' '+ patologo.last_name) %> </option>
        <% }); %>
      </select>
    </td>
  </tr> 
</script>
