{% extends 'layout.html' %}
{% load static %}

{% block stylesheets %}

<style type="text/css">
    table {
    margin-top: 5px;
    width: 70%; /* Ajusta este valor para cambiar el ancho de la tabla */
    }

    td, th {
        vertical-align: middle !important;
        height: 50px; /* Ajusta este valor para cambiar la altura de las celdas */
        padding: 5px; /* Ajusta este valor para cambiar el espacio interior de las celdas */
        }

    th {
        background-color: #008385;
        color: #f2f1ef;
        }

    tr {
        text-align: center;
        }

    tr:nth-child(even) {
        background: #f2f2f2;
        }

    table tbody {
        width: 100%;
        }

    .scrollit {
        overflow-x: auto;
        white-space: nowrap;
    }

    .distribucion{
        min-width: 250px;
    }

    .sample{
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        min-width: 78px;
    }

    .save{
        padding-top: 15px;
        text-align: right;
    }

    .table .sticky{
        position: sticky;
        left:0;
    }

    tbody .sticky{
        background: #f5f7f9;
        border: 1px solid #dfe3e8;
    }

    .one{
        background-color: #d7fae1;
    }

    .two{
        background-color: #fafcba;
    }

    .three{
        background-color: #fcbaba;
    }

    tbody .sticky tr:nth-child(2n) {background: #f2f2f2 !important;}

    .custom-file-input:lang(en) ~ .custom-file-label::after {
        content: "Seleccionar";
      }

    .drag-handle{
        cursor: pointer;
        padding-left:20px;
    }

    .modal {
        overflow-y:auto;
      }

    .form-control{
        width: 80%;
    }

    .wide-cell{
        min-width: 160px;
    }

    .wide-cell2{
        min-width: 100px;
    }
    .select-wide {
        width: 100% !important;
    }
    .small-table {
        font-size: 1em; /* Reduce el tamaño de la fuente */
        padding: 1px; /* Reduce el espaciado entre las celdas */
    }
    .wide-cell {
        padding: 200px; /* Ajusta este valor según tus necesidades */
    }
    .form-control.select-wide {
        width: 100%; /* Asegura que el select ocupe todo el ancho de la celda */
        padding: 10px; /* Añade un poco de espacio alrededor del texto */
        border-radius: 5px; /* Añade bordes redondeados al select */
        border: 1px solid #ccc; /* Añade un borde al select */
        font-size: 1em; /* Ajusta el tamaño de la fuente */
    }
</style>

{% endblock stylesheets %}

{% block content_header %}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Consolidado</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">INICIO</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">CONSOLIDADO</a>
                    </li>
                    <li class="breadcrumb-item active">
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock content_header %}

{% block content %}
    <form id="dataForm">
        <div class="container-sm">
        <div class="container">
        </div>
        </div>
         <div class="container-sm scrollit">
                    <table class="table table-striped table" id="table-sg">

                        <table class="table table-striped table-bordered small-table" id="table-organ">
                        <tr>
                            <th rowspan="3" colspan="1">Muestras</th>
                            <th rowspan="" colspan="8">Score Patológico (0 a 3)</th>
                            <th rowspan="1" colspan="12">Criterio Auxiliar (ausencia: 0 / presencia = 1)</th>
                            <th rowspan="3" colspan="1">Score</th>

                        </tr>
                        <tr>

                            <th rowspan="" colspan="8">Hallazgos Principales</th>
                            <th rowspan="1" colspan="2">Tipos de inflamacion</th>
                            <th rowspan="" colspan="1">Deg.</th>
                            <th rowspan="" colspan="3">Alteraciones Circulatorias</th>
                            <th rowspan="" colspan="6">Microorganismos</th>
                        </tr>
                        <tr>
                            <th class="wide-cell" rowspan="1" colspan="1">Hiperplasia <br> Lamelar</th>
                            <th class="wide-cell" rowspan="1" colspan="1">Fusión Lamelar</th>
                            <th class="wide-cell" rowspan="1" colspan="1">Espongeosis</th>
                            <th class="wide-cell" rowspan="1" colspan="1">Necrosis</th>
                            <th class="wide-cell" rowspan="1" colspan="1">Degeneración <br>Ballonizante</th>
                            <th class="wide-cell" rowspan="1" colspan="1">Exfoliación</th>
                            <th class="wide-cell" rowspan="1" colspan="1">Anormalidades <br>celulares</th>
                            <th class="wide-cell" rowspan="1" colspan="1">Edema <br>Lamelar</th>
                            <th class="wide-cell" rowspan="1" colspan="1">Inflamación</th>
                            <th class="wide-cell" rowspan="1" colspan="1">CGE</th>
                            <th class="wide-cell" rowspan="1" colspan="1">Deg. <br>Hidrópica</th>
                            <th class="wide-cell" rowspan="1" colspan="1">Congestión</th>
                            <th class="wide-cell" rowspan="1" colspan="1">Telangiectasia <br>Trombosis</th>
                            <th class="wide-cell" rowspan="1" colspan="1">Hemorragia</th>
                            {% if entryform.watersource.type_of_water == "Dulce" %}
                            <th class="wide-cell" rowspan="1" colspan="1">Protozoos</th>
                            <th class="wide-cell" rowspan="1" colspan="1">Hongos</th>
                            {% else %}
                            <th class="wide-cell" rowspan="1" colspan="1">
                                <!-- Asignar nombre del select y los valores de las opciones -->
                                <select name="mar_opcional" class="form-control select-wide">
                                    <option value="">Opciones</option>
                                    <option value="Ameba">Ameba</option>
                                    <option value="Brookynella">Brookynella</option>
                                    <option value="Amebas y otros parasitos">Amebas y otros parásitos</option>
                                </select>
                            </th>
                            <th class="wide-cell" rowspan="1" colspan="1">Otros parasitos</th>
                            {% endif %}
                            <th class="wide-cell" rowspan="1" colspan="1">Zooplancton</th>
                            <th class="wide-cell" rowspan="1" colspan="1">Microalgas</th>
                            {% if entryform.watersource.type_of_water == "Dulce" %}
                            <th class="wide-cell" rowspan="1" colspan="1">Flavobacterium</th>
                            {% else %}
                            <th class="wide-cell" rowspan="1" colspan="1">Tenocibiboculum</th>
                            {% endif %}
                            <th class="wide-cell" rowspan="1" colspan="1">Otras <br>Bacterias</th>
                        </tr>
                        </thead>
                        <tbody id="asdasd">
                            {% for key, value in samples.items %}
                            <tr>
                                {% if "promedio_identification_" in key %}
                                <th data-cage-name="{{value.identification.cage}}" style="position: sticky; left: 0;" >{{value.identification.cage}} X</th>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-Hiperplasia lamelar-promedio" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #acbfad;" type="number" min="0" max="3" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-Fusión lamelar-promedio" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #ddf1b3;" type="number" min="0" max="3" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-Espongeosis-promedio"class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #acbfad;" type="number" min="0" max="3" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-Necrosis-promedio" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #acbfad;" type="number" min="0" max="3" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-Degeneración Ballonizante-promedio" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #acbfad;" type="number" min="0" max="3" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-Exfoliación-promedio" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #acbfad;" type="number" min="0" max="3" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-Anormalidades celulares-promedio" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #acbfad;" type="number" min="0" max="3" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-Edema lamelar-promedio" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #acbfad;" type="number" min="0" max="3" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-Inflamación-promedio" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #acbfad;" type="number" min="0" max="2" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-CGE-promedio" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #acbfad;" type="number" min="0" max="2" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-Deg. Hidrópica-promedio" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #acbfad;" type="number" min="0" max="2" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-Congestión-promedio" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #acbfad;" type="number" min="0" max="2" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-Telangiectasia Trombosis-promedio" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #acbfad;" type="number" min="0" max="2" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-Hemorragia-promedio" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #acbfad;" type="number" min="0" max="2" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{% if entryform.watersource.type_of_water == 'Dulce' %}{{value.identification.id}}-Protozoos{% else %}{{value.identification.id}}-optionmar-promedio{% endif %}" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);"style="background-color: #acbfad;" type="number" min="0" max="2" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-Otros Parasitos-promedio" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #acbfad;" type="number" min="0" max="2" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-Zooplancton-promedio" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #acbfad;" type="number" min="0" max="2" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-Microalgas-promedio" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #acbfad;" type="number" min="0" max="2" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-Tenocibiboculum-promedio" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #acbfad;" type="number" min="0" max="2" value="0" readonly></td>
                                <td style="background-color: #acbfad;"><input id="{{value.identification.id}}-Otras Bacterias-promedio" class="form-control {{value.identification.id}}-promedio" style="border: 1px solid rgb(215, 99, 99);" style="background-color: #acbfad;" type="number" min="0" max="2" value="0" readonly></td>
                                <td style="background-color: #acbfad;" class="wide-cell"><input id="{{value.identification.id}}-Score-prom" class="form-control {{value.identification.id}}-score_prom" style="border: 1px solid rgb(215, 99, 99);"  style="background-color: #B0C4DE" type="number"   value="0" readonly></td>
                                {% elif "promedio_center" in key %}
                                <th style="position: sticky; left: 0;">{{value.center}} X</th>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-Hiperplasia lamelar" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="3" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-Fusión lamelar" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="3" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-Espongeosis" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="3" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-Necrosis" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="3" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-Degeneración Ballonizante" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="3" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-Exfoliación" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="3" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-Anormalidades celulares" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="3" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-Edema lamelar" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="3" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-Inflamación" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-CGE" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-Deg. Hidrópica" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-Congestión" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-Telangiectasia Trombosis" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-Hemorragia" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {% if entryform.watersource.type_of_water == 'Dulce' %}{{value.center}}-Protozoos{% else %}{{value.center}}-optionmar{% endif %}" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-Otros Parasitos" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-Zooplancton" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-Microalgas" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-Tenocibiboculum" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"><input class="form-control {{value.center}}-Otras Bacterias" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" data-center="{{value.center}}" readonly></td>
                                <td style="background-color: #cecdcb"class="wide-cell"><input id="center-averages-sum" class="form-control"  style="background-color: #B0C4DE; border: 1px solid rgb(215, 99, 99);" type="number" value="0" readonly></td>
                                {% elif "porcentaje" in key %}
                                <th style="position: sticky; left: 0;">{{value.identification.cage}} Preval.<br>(%)</th>
                                <td style="background-color: #f2f1ef"><input class="form-control Hiperplasia lamelar-porcentaje" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control Fusión lamelar-porcentaje" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control Espongeosis-porcentaje" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control Necrosis-porcentaje" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control Degeneración Ballonizante-porcentaje" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control Exfoliación-porcentaje" style="background-color: #f2f1ef;border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control Anormalidades celulares-porcentaje" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control Edema lamelar-porcentaje" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control Inflamación-porcentaje" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control CGE-porcentaje" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control Deg. Hidrópica-porcentaje" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control Congestión-porcentaje" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control Telangiectasia Trombosis-porcentaje" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control Hemorragia-porcentaje-porcentaje" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control {% if entryform.watersource.type_of_water == 'Dulce' %}Protozoos-porcentaje{% else %}optionmar-porcentaje{% endif %}" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control Otros Parasitos-porcentaje" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control Zooplancton-porcentaje" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control Microalgas-porcentaje" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control Tenocibiboculum-porcentaje" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef"><input class="form-control Otras Bacterias-porcentaje" style="background-color: #f2f1ef; border: 1px solid rgb(20, 200, 250);" type="text" value="0%" readonly></td>
                                <td style="background-color: #f2f1ef text-align: justify;" class="wide-cell" style="background-color: #B0C4DE; border: 1px solid rgb(215, 99, 99);" type="number" value="0" readonly>-</td>

                                {% else %}
                                <th style="position: sticky; left: 0;">{{value.identification.cage}} ({{value.index}})</th>
                                <td style="background-color: #e0c093"><input id="{{value.id}}-Hiperplasia lamelar" class="form-control {{value.identification.id}}-Hiperplasia lamelar recalculate-average" style="background-color: #e0c093 ; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="3" value="0" name="{{value.id}}-Hiperplasia lamelar"></td>
                                <td style="background-color: #e0c093"><input id="{{value.id}}-Fusión lamelar"class="form-control {{value.identification.id}}-Fusión lamelar recalculate-average" style="background-color: #e0c093; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="3" value="0" name="{{value.id}}-Fusión lamelar"></td>
                                <td style="background-color: #dfcfb9"><input id="{{value.id}}-Espongeosis" class="form-control {{value.identification.id}}-Espongeosis recalculate-average" style="background-color: #dfcfb9; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="3" value="0" name="{{value.id}}-Espongeosis"></td>
                                <td style="background-color: #dfcfb9"><input id="{{value.id}}-Necrosis" class="form-control {{value.identification.id}}-Necrosis recalculate-average" style="background-color: #dfcfb9; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="3" value="0" name="{{value.id}}-Necrosis"></td>
                                <td style="background-color: #dfcfb9"><input id="{{value.id}}-Degeneración Ballonizante" class="form-control {{value.identification.id}}-Degeneración Ballonizante recalculate-average" style="background-color: #dfcfb9; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="3" value="0" name="{{value.id}}-Degeneración Ballonizante"></td>
                                <td style="background-color: #dfcfb9"><input id="{{value.id}}-Exfoliación"class="form-control {{value.identification.id}}-Exfoliación recalculate-average" style="background-color: #dfcfb9; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="3" value="0" name="{{value.id}}-Exfoliación"></td>
                                <td style="background-color: #e0c093"><input id="{{value.id}}-Anormalidades celulares"class="form-control {{value.identification.id}}-Anormalidades celulares recalculate-average" style="background-color: #e0c093; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="3" value="0" name="{{value.id}}-Anormalidades celulares" readonly></td>
                                <td style="background-color: #e0c093"><input id="{{value.id}}-Edema lamelar" class="form-control {{value.identification.id}}-Edema lamelar recalculate-average" style="background-color: #e0c093; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="3" value="0" name="{{value.id}}-Edema lamelar"></td>
                                <td style="background-color: #dfda94"><input id="{{value.id}}-Inflamación"class="form-control {{value.identification.id}}-Inflamación recalculate-average" style="background-color: #dfda94; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" name="{{value.id}}-Inflamación"></td>
                                <td style="background-color: #dfda94"><input id="{{value.id}}-CGE" class="form-control {{value.identification.id}}-CGE recalculate-average" style="background-color: #dfda94; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" name="{{value.id}}-CGE"></td>
                                <td style="background-color: #a4c6e1"><input id="{{value.id}}-Deg. Hidrópica" class="form-control {{value.identification.id}}-Deg. Hidrópica recalculate-average" style="background-color: #a4c6e1; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" name="{{value.id}}-Deg. Hidrópica"></td>
                                <td style="background-color: #cecdcb"><input id="{{value.id}}-Congestión" class="form-control {{value.identification.id}}-Congestión recalculate-average" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" name="{{value.id}}-Congestión"></td>
                                <td style="background-color: #cecdcb"><input id="{{value.id}}-Telangiectasia Trombosis" class="form-control {{value.identification.id}}-Telangiectasia Trombosis recalculate-average" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" name="{{value.id}}-Telangiectasia Trombosis"></td>
                                <td style="background-color: #cecdcb"><input id="{{value.id}}-Hemorragia" class="form-control {{value.identification.id}}-Hemorragia recalculate-average" style="background-color: #cecdcb; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" name="{{value.id}}-Hemorragia"></td>
                                <td style="background-color: #e4e3e1"><input id="{% if entryform.watersource.type_of_water == 'Dulce' %}{{value.id}}-Protozoos{% else %}{{value.id}}-optionmar{% endif %}" class="form-control recalculate-average {% if entryform.watersource.type_of_water == 'Dulce' %}{{value.identification.id}}-Protozoos{% else %}{{value.identification.id}}-optionmar{% endif %}" style="background-color: #e4e3e1; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" name="{% if entryform.watersource.type_of_water == 'Dulce' %}{{value.id}}-Protozoos{% else %}{{value.id}}-optionmar{% endif %}"></td>
                                <td style="background-color: #e4e3e1"><input id="{% if entryform.watersource.type_of_water == 'Dulce' %}{{value.id}}-Hongos {% else %}{{value.id}}-Otros Parasitos{% endif %}" class="form-control recalculate-average {% if entryform.watersource.type_of_water == 'Dulce' %}{{value.identification.id}}-Hongos {% else %}{{value.identification.id}}-Otros Parasitos{% endif %}" style="background-color: #e4e3e1; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" name="{% if entryform.watersource.type_of_water == 'Dulce' %}{{value.id}}-Hongos {% else %}{{value.id}}-Otros Parasitos{% endif %}"></td>
                                <td style="background-color: #e4e3e1"><input id="{{value.id}}-Zooplancton" class="form-control {{value.identification.id}}-Zooplancton recalculate-average" style="background-color: #e4e3e1; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" name="{{value.id}}-Zooplancton"></td>
                                <td style="background-color: #e4e3e1"><input id="{{value.id}}-Microalgas" class="form-control {{value.identification.id}}-Microalgas recalculate-average" style="background-color: #e4e3e1; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" name="{{value.id}}-Microalgas"></td>
                                <td style="background-color: #e4e3e1"><input id="{% if entryform.watersource.type_of_water == 'Dulce' %}{{value.id}}-Flavobacterium {% else %}{{value.id}}-Tenocibiboculum{% endif %}" class="form-control recalculate-average {% if entryform.watersource.type_of_water == 'Dulce' %}{{value.identification.id}}-Flavobacterium{% else %}{{value.identification.id}}-Tenocibiboculum{% endif %}" style="background-color: #e4e3e1; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" name="{% if entryform.watersource.type_of_water == 'Dulce' %}{{value.id}}-Flavobacterium{% else %}{{value.id}}-Tenocibiboculum{% endif %}"></td>
                                <td style="background-color: #e4e3e1"><input id="{{value.id}}-Otras Bacterias" class="form-control recalculate-average {{value.identification.id}}-Otras Bacterias" style="background-color: #e4e3e1; border: 1px solid rgb(45, 44, 44);" type="number" min="0" max="2" value="0" name="{{value.id}}-Otras Bacterias"></td>

                                <td style="background-color: #B0C4DE" class="wide-cell"><input   id="{{value.id}}-Score-prom-cage" class="form-control {{value.id}}-score_prom_cage"  style="background-color: #f3f2f0 ; border: 1px solid rgb(45, 44, 44);" type="number" value="0" readonly></td>
                            {% endif %}
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="save">
                    <button id="edit_report" class="btn btn-primary" type="button" data-dismiss="modal" data-toggle="modal" data-target="#report_edit">Generar informe</button>
                    <button id="export_consolidado" class="btn btn-primary" type="button">Exportar</button>
                    <button class="btn btn-primary" type="submit" >Guardar</button>
                </div>
            </form>
    
            <div class="modal fade" id="report_options" aria-labelledby="exampleModalCenterTitle">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Seleccione una opcion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <div class="modal-body">
                        <button id="generate_report" onclick="" class="btn btn-primary" type="button">Generar informe</button>
                        <button id="edit_report" class="btn btn-primary" type="button" data-dismiss="modal" data-toggle="modal" data-target="#report_edit">Editar informe</button>
                    </div>
                </div>
                </div>
            </div>
    
            <form class="modal fade" id="report_edit" name="report_edit" aria-labelledby="exampleModalCenterTitle" enctype="multipart/form-data">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Informe final</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row pb-1">
                                <div class="form-group col-4">
                                    <label>Fecha de informe: </label>
                                    <label style="padding-left:180px">Correlativo: </label>
                                    <div class='input-group date' id='date-'>
                                      <input id="report_date" type='text' class="form-control" name='report_date'/>
                                      <div class="input-group-append">
                                        <span class="input-group-text">
                                          <span class="fa fa-calendar"></span>
                                        </span>
                                      </div>
                                      <div class="col-3 pl-1">
                                        <input class="form-control" type="number" name="correlative" mix=1 value=1 id="report_correlative">
                                    </div>
                                    </div>
    
                                    <div class="pt-1">
                                        <label>Metodología: </label>
                                        <input id="reportMethodology" class="form-control" readonly value="" name="methodology" onclick="openMethodologyModal()" />
                                    </div>
                                    <nav class="pt-1">
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Anamnesis</a>
                                          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Diagnóstico etiológico</a>
                                        </div>
                                      </nav>
                                      <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                            <div class="pt-1">
                                                <textarea class="form-control" id="anamnesis" rows="3" name="anamnesis"></textarea>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                            <div class="pt-1">
                                                <textarea class="form-control" id="etiological_diagnostic" rows="3" name="etiological_diagnostic"></textarea>
                                            </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="col">
                                    <label>Comentarios: </label><br>
                                    <textarea class="form-control" id="comment" rows="16" name="comment"></textarea>
                                </div>
                            </div>
                            <div id="images" class="reportSortable">
                            </div>
                            
                            <div class="form-group">
                                <button id="addImage" type="button" class="btn btn-outline-primary btn-lg btn-block">Añadir una imagen</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </form>
            
            <div class="modal fade text-left" id="methodology_modal" role="dialog" data-keyboard="false">
                <div class="modal-dialog" role="document" style="min-width:50% !important;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="title"> Lista de Metodologías <span></span></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="font-size:12px !important;">
                            <div class="col-md-12" id="methodology_table_div">
                            </div>
                            <hr>
                            <div class="form-group">
                                <button id="addMethodology" type="button" class="btn btn-outline-primary btn-lg btn-block" onclick="addMethodology()">Añadir una metodología</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
    <script>
    $(document).ready(function () {
        select=$('#select-diagnostic').select2({'width':'100%'});
        $('#comment').summernote({
            height: 307,
            width: 750,
            lang: 'es-ES',
            toolbar: [
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['color', ['color']],
          ]
          });
        
        $('#anamnesis').summernote({
            height: 120,
            lang: 'es-ES',
            toolbar: [
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['color', ['color']],
          ]
        });

        $('#etiological_diagnostic').summernote({
            height: 120,
            lang: 'es-ES',
            toolbar: [
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['color', ['color']],
          ]
        });
        $("#report_date")
        .datetimepicker({
            locale: "es",
            keepOpen: false,
            format: "DD/MM/YYYY",
        });

        $(document).on('hidden.bs.modal', '.modal', function () {
            $('.modal:visible').length && $(document.body).addClass('modal-open');
        });
    });
    </script>

<div class="chart-container" style="position: relative; height:40vh; width:80vw">
  <canvas id="myChart"></canvas>
</div>
<br><br>
<div class="chart-container" style="position: relative; height:40vh; width:80vw">
  <canvas id="princHallazgosChart"></canvas>
</div>
<br><br>
<span style="text-align: center; background-color: lightcoral;">4. Boxplot EN DESARROLLO</span>
<div class="chart-container" style="position: relative; height:40vh; width:80vw">
  <canvas id="myBoxChart"></canvas>
</div>

{% endblock content %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Include Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Include PlotBox -->
<script src="https://cdn.jsdelivr.net/npm/@sgratzl/chartjs-chart-boxplot@4.2.8/build/index.umd.min.js"></script>


<!-- Include the datalabels plugin -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.0.1/dist/chartjs-plugin-annotation.min.js"></script>

<!-- Register the datalabels plugin -->
<script>
  Chart.register(ChartDataLabels, ChartAnnotation);
</script>


<script type="text/javascript" src="{% static '/app/consolidados/consolidados_sg.js' %}" defer></script>


{% autoescape off %}
<script>
    var sampleexamresults = {{sampleexamresults | safe}};
    var identifications = {{identifications | safe}};
    var result_name = "{{result_name}}";
  
    document.addEventListener('DOMContentLoaded', (event) => {
      console.log('DOMContentLoaded event fired');
      // Select all inputs that should trigger the recalculation
      const inputsToRecalculate = document.querySelectorAll('.recalculate-average');
  
      // Attach an 'input' event listener to each input for real-time updates
      console.log("s-ex-r 2",sampleexamresults);
  
      inputsToRecalculate.forEach(input => {    //tiempo real
        input.addEventListener('input', () => {
          // Assuming these functions are defined to recalculate and update the UI accordingly
          promedio_cages(sampleexamresults);
          calculateIdentificationAverages(identifications);
          calculateAveragesAC(identifications);
          calculateCenterNameAverages(identifications);
          calculatePromedioCellsPercentage();
          calculateScoreRowSums(identifications);
          // You might need to pass any necessary parameters to these functions based on your implementation
        });
      });
  
      if (sampleexamresults.length > 0) {
          console.log("s-ex-r 1", sampleexamresults);
          load(sampleexamresults, result_name);
          promedio_cages();
          calculateIdentificationAverages(identifications);
          calculateAveragesAC(identifications);
          calculateCenterNameAverages(identifications);
          calculatePromedioCellsPercentage(identifications);
          calculateScoreRowSums(identifications);
      }
    });
  </script>
{% endautoescape %}
{% endblock scripts%}